*,
*::before,
*::after { /* означает, что эти стили будут применяться ко всем блокам/псевдоэлементам - ИСПОЛЬЗУЕМ ВЕЗДЕ!!!*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* падинги и границы включаем в размер объекта*/
}

body { /*перенесли со всех элементов, где они встречаются*/
    font-family: Lato, sans-serif;
    /*font-style: normal;*/
    font-style: normal;
    line-height: normal;
}

ul {
    list-style: none; /* убрали все маркеры (кружочки) с тегов li*/
}

section {
    background-color: #EFF2F9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1170px;
    height: 800px;
    background: #FFF;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    padding: 60px 0 70px;
    display: flex;
}

/*================// стили для ЛЕВОЙ части //========================*/

.product-image-block {
    border-right: 2px solid rgba(20, 20, 20, 0.15);
    min-width: 540px; /*ДЛЯ флекс бокса width: 540px ДО задницы - нужно MIN-width: 540px. Задали мин для того чтобы текст в смежной картинке не съедал все свободное пространствао*/
    display: flex;
    flex-direction: column;
}

.main-image-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.preview {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s; /*комфортная для глаза анимация 0.2s. Пишем не в ховер, т.к. хотим чтобы работало в две стороны, а с ховером будет в одну */
    cursor: pointer; /*при наведении на объект курсор превращается в палец*/
}

.preview.selected,
.preview:hover {
    /*background: #FFF;*/
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}

/*================// стили для ПРАВОЙ части //========================*/

.product-info-block {
    padding: 0 60px; /* вторая половина - отступили от края */
}

.main-title {
    color: rgba(20, 20, 20, 0.90);
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    /*font-style: normal;*/
    font-weight: 700;
    /*line-height: normal;*/
    letter-spacing: 0.38px;
    margin-bottom: 5px;
}

.subtitle {
    color: rgba(20, 20, 20, 0.40);
    /*font-family: Lato;*/
    font-size: 16px;
    /*font-style: normal;*/
    font-weight: 400;
    /*line-height: normal;*/
    letter-spacing: 0.16px;
    margin-bottom: 60px;
}

.text {
    color: rgba(20, 20, 20, 0.70);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    /*font-style: normal;*/
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.18px;
    margin: 60px 0 65px; /* 60 сверху 0 побокам и 65 внизу - отделили блок от верхнего. Вариант 2 - flex: block (не рекомендуется симантически менять назначение). Вариант 3: задать display: flex; flex-direction: column; для родительского єелемента .product-info-block*/
}

.colors {
    margin-bottom: 65px;
}

.title {
    color: rgba(20, 20, 20, 0.40);
    /*font-family: Lato;*/
    font-size: 16px;
    /*font-style: normal;*/
    font-weight: 400;
    /*line-height: normal;*/
    letter-spacing: 0.16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.colors-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.colors-items > li { /* для всех <li>, которые находятся внутри элемента с классом .color-items по дефолту зададим размеры, скругление углов и внутренние отступы со всех сторон*/
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
}

.blue {
    background-color: #013C7D;
}

.green {
    background-color: #63CBA7;
}

.red {
    background-color: #D52F29;
}

.black {
    background-color: #141414;
}

.yellow {
    background-color: #F2C723;
}

li {
    width: 30px;
    height: 30px;
    padding: 7px; /*тень вокруг выбранного разноцветного кружочка */
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.colors-items > li.selected,
.colors-items > li:hover { /* в классе .selected и при наведении будем добавлять тень тень вокруг кружка */
    /*background-color: #fff;*/
    filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
}

.cta-wrapper {
    display: flex;
}

.cta-wrapper > div { /*комбинаторы - детки-дивки ниже по уровню имеют этот свойство, т.е. .quantity и .price */
    flex-grow: 1;

}

.quantity {
    width: 80px;
    color: rgba(20, 20, 20, 0.80);
    font-size: 20px;
    /*font-style: normal;*/
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border: none;
    appearance: none; /* убрали из селекта "дефолтную стрелку"*/
    background-image: url(./assets/images/ph_caret-down-bold.svg); /*добавили стрелку из фигмы*/
    background-repeat: no-repeat; /* убрали задвоение стрелки - біла 4 раза*/
    background-position: right 0 top 70%; /* разместили стрелку справа посередине"*/
    /*font-family: inherit; !* наследуем щрифты у родителя*/
    font-family: Rubik, sans-serif;
    cursor: pointer;
}

.price {
    color: rgba(20, 20, 20, 0.80);
    font-family: Rubik, sans-serif;
    font-size: 20px;
    /*font-style: normal;*/
    font-weight: 500;
    /*line-height: normal;*/
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.btn {
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    /*font-style: normal;*/
    font-weight: 500;
    /*line-height: normal;*/
    letter-spacing: 0.18px;

    height: 70px;
    width: 100%;
    background: #141414;

    margin-top: 75px;
    transition: 1s;
    cursor: pointer;
}

.btn:hover {
    transform: translate(20px, 10px); /* изменение формы/направления кнопкт при наведении*/
}